{% extends 'main/base.html' %}

{% block breadcrumbs %}
	<!-- ОТНОСИТСЯ К СТРАНИЦЕ С КОНТЕНТОМ, ЗАГОЛОВОК -->
{% endblock %}


{% block content %}
<div id="content-configure">
<h4>Добро пожаловать на мой сайт <span class="text-danger">Archeo Crop</span>! Ресурс создан <span class="text-danger">исключительно</span> в учебных целях!</h4>
<p>Сайт создан в первую очередь для археологов и умеет удалять фон у изображений. Это полезно при работе с большим количеством фотографий артефактов. Сайт позволит вам сэкономить время на необходимой процедуре удаления фона на фотографиях находок.</p>
<p>Здесь вы сможете загрузить и удалить фон у одного изображения или у целого архива изображений!</p>
<p>Перед использвонием ресурса необходимо <b><a class="text-info" href="{% url 'register' %}">пройти регистрацию.</a></b> Неавторизованным пользователям функционал сайта недоступен.</p>
<p><b class="text-danger">ОБЯЗАТЕЛЬНО</b> посетите раздел <b><a class="text-info" href="{% url 'userguide' %}">User Guide</a></b>! Там вы найдете всю необходимую информацию по использованию сайта.</p>
<p>РАЗДЕЛЫ САЙТА:</p>
<ul class="page-content">
  <li class="text-primary-emphasis"><a href="{% url 'home' %}"><b class="text-info">Main.</b></a> Сейчас вы находитесь на главной странице сайта. Здесь представлена вводная информация о том, что здесь вообще происходит.</li>
  <li class="text-primary-emphasis"><a href="{% url 'crop' %}"><b class="text-info">Crop Background</b></a>  В этом разделе вы можете выбрать вариант работы с сайтом (загрузка одного изображения или архива). Далее вам будет доступна форма, через которую вы можете загрузить свои файлы, и скачать получившийся результат.</li>
  <li class="text-primary-emphasis"><a href="{% url 'about' %}"><b class="text-info">About.</b></a> В этом разделе представлена информация о проекте в целом.</li>
  <li class="text-primary-emphasis"><a href="{% url 'feedback' %}"><b class="text-info">Feedback.</b></a>  В этом разделе находится форма обратной связи, через которую вы можете, например, описать свой user-experience или же просто написать пару слов о том, какой хороший или плохой получился проект.</li>
  <li class="text-primary-emphasis"><a href="{% url 'userguide' %}"><b class="text-info">User Guide.</b></a>В этом разделе вы можете получить руководство по использованию сайта, узнать о доступных функциях, настройках, требованиях к изображениям и др.</li>
</ul>

<h5 class="text-info"><b>Присоединяйтесь ко мне на этом прекрасном (или не очень) ресурсе и экономьте время на предобработке фотографий для ваших археологических изысканий! Буду рад вашим отзывам.</b></h5>
</div>
{% endblock %}



