{% extends 'main/base.html' %}

{% block breadcrumbs %}
	<!-- ОТНОСИТСЯ К СТРАНИЦЕ С КОНТЕНТОМ, ЗАГОЛОВОК -->
{% endblock %}


{% block content %}
{% if request.user.is_authenticated %}
<div id="content-configure">
<h3>FAQ:</h3>
<h4><b class="text-danger">Требования к изображениям:</b></h4>
<ul>
    <h5><li><b class="text-info">Фон.</b> Фон должен контрастировать с артефактом и масштабом. Фон должен быть однотонным.</li></h5>
    <h5><li><b class="text-info">Артефакт.</b> Артефакт должен четко выделяться на фоне, быть в фокусе.</li></h5>
    <h5><li><b class="text-info">Масштаб.</b> Масштаб не должен быть нарисован на фоне. Масштаб не должен быть прозрачным. Масштаб должен контрастировать с фоном (в идеале - цветная однотонная непрозрачная линейка).</li></h5>
    <h5><li><b class="text-info">Освещение.</b> Нужно хорошее ровное освещение без перепадов. Постарайтесь минимизировать тени на границах артефакта и фона.</li></h5>
    <h5><li><b class="text-info">Профили.</b> Для фотографий профилей также необходим контраст между артефактом, подставкой для артефакта и фоном. Однако, скорее всего придется отдельно вырезать подставку:) В нашем мире нет ничего идеального.</li></h5>
    <h5><li><b>To be continued...</b></li></h5>
</ul>

    <h4 class="text-danger">Цвет фона:</h4>
    <h4>При загрузке изображения вы можете выбрать цвет фона. Вот некоторые пояснения</h4>
    <h5>Цвет фона нужно задать в формате RGBA где:</h5>
<ul>
    <h5><li><b class="text-danger" >R</b> - отвечает за <b class="text-danger" >красный</b>, значение может быть в пределах от 0 до 255. </li></h5>
    <h5><li><b class="text-success">G</b> - отвечает за за <b class="text-success" >зеленый</b>, значение может быть в пределах от 0 до 255. </li></h5>
    <h5><li><b class="text-info">B</b> - отвечает за за <b class="text-info" >синий</b>, значение может быть в пределах от 0 до 255. </li></h5>
    <h5><li><b>A</b> - отвечает за <b class="text-body-tertiary" >прозрачность</b> фона, значение может быть в пределах от 0 до 255, где 0 - совсем прозрачный, 255 - нулевая прозрачность.</li></h5>
</ul>

        <h5>В форме нужно ввести фон в формет 4 цифр, разделенных запятыми, не более 255, без пробелов. Вот пример:</h5>
<ul>
    <h5><li><b>0,255,0,255</b> - зеленый непрозрачный фон</li></h5>
    <h5><li><b>255,0,0,128</b> - красный полупрозрачный фон</li></h5>
    <h5><li>И так далее</li></h5>
</ul>

    <h5>Цвет можно подобрать в любом <a href="https://colorpicker.me/#80b1e8"><b class="text-info">колор-пикере</b></a> онлайн.</h5>
<h5>To be continued...</h5>

</div>
{% else %}
<div id="content-configure">
    <h4>К сожалению, вы не авторизованы. Пожалуйста, <a class="text-success" href="{% url 'login' %}">авторизуйтесь</a> или <a class="text-success" href="{% url 'register' %}">зарегистрируйтесь</a>, если еще не сделали этого.</h4>
</div>
{% endif %}
{% endblock %}